.tableFixHead          { overflow-y: auto; height: 580px; margin-top: -2px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 3px 10px; }
th     { background:rgb(238, 234, 234); }

/*
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
} */