@media all and (min-width: 480px) {
    .Login {
      padding: 80px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 480px;
      background-color: #f2f2f2; 
      padding:10px 40px;
      border-radius: 25px;
    }
}

.btn.btn-primary{
    width: 100%;
    margin-top: 15px;
}

.forgotPass{
    float: right;
    margin-bottom: 15px;
    font-size: 0.88rem;
}

.resetPass{
    float: left;
    margin-bottom: 15px;
    font-size: 0.88rem;
}

.dangerZone{
    color: rgb(255, 0, 0);
    padding: 5% 14%;
    visibility: visible;
} 

.safeZone{
   visibility: hidden;
}


